.alert {
  padding: .5rem 0;
  text-align: center;
  color: $blanco;
  font-weight: $bold;
  margin: 1rem 0;
  &.error {
    background-color: $red;
  }

  &.success {
    background-color: $verde;
  }
}

table.properties {
  margin-top: 4rem;
  width: 100%;
  border-spacing: 0;

  thead {
    background-color: $verde;

    th {
      color: $blanco;
      padding: 2rem;
    }
  }

  tbody {
    .title {
      width: 50rem;
      text-align: left;
    }

    tr {
      text-align: center;
    }
  }

  .image-table {
    width: 20rem;
  }
}